@mixin cols-3() {
  @include clearfix();

  li {
    text-align: center;
    float: left;
  }
}

.cols-3-divide {
  @include cols-3();

  li {
    width: 33.3333%;
  }
}

.cols-3-slide {
  @include cols-3();

  li {
    &:first-child, &:last-child {
      width: 20%;
    }

    &:nth-child(2) {
      width: 60%;
    }
  }
}
