@charset "UTF-8";

@import "reset";
@import "vars";
@import "funtion";
@import "font-awesome-4.7.0/scss/font-awesome";

html {
  font-size: 37.5px;
}

.layout-main {
  position: relative;
  *zoom: 1;
  padding: 0 rem(14);
  font-size: rem(36);
}
